<methodCall>
	<methodName>LJ.XMLRPC.getevents</methodName>
	<params>
		<param>
			<value>
				<struct>
					<member>
						<name>ver</name>
						<value>
							<int>1</int>
						</value>
					</member>
					<member>
						<name>journal</name>
						<value>
							<string>$journal</string>
						</value>
					</member>
					<member>
						<name>selecttype</name>
						<value>
							<string>syncitems</string>
						</value>
					</member>
					<member>
						<name>lastsync</name>
						<value>
							<int>$lastsync</int>
						</value>
					</member>
					<member>
						<name>noprops</name>
						<value>
							<boolean>1</boolean>
						</value>
					</member>
				</struct>
			</value>
		</param>
	</params>
</methodCall>